* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: radial-gradient(circle at top,#111 0%,#000 60%);
    color: #eee;
    font-family: Poppins, sans-serif;
    text-align: center;
}
/*HERO SECTION*/
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    letter-spacing: 2px;
}
.hero h2 {
    font-size: 2.5rem;
    margin: 15px 0;
    color: #d4af37;/* Gold color */
}
.date{
    opacity: 0.8;
}
/*COUNTDOWN*/
.countdown {
    padding: 60px 20px;
    font-size: 1.5rem;
}
/*GALLERY*/
.gallery {
    padding: 80px 20px;
}
.gallery h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    max-width: 900px;
    margin: auto;
}
.grid img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.grid img:hover {
    transform: scale(1.05);
}
/*STATEMENTS*/
.statements {
    padding: 80px 20px;
    font-size: 1.6rem;
}
.statements p{
    margin: 20px 0;
    opacity: 0.9;
}
/*MESSAGES*/
.messages {
    padding: 80px 20px;
}
.messages input,
.messages textarea {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}
.messages button {
    padding: 12px 30px;
    border: none;
    background: #d4af37;
    color: #000;
    border-radius:25px;
    cursor: pointer;
}
#saved{
    margin-top: 15px;
    color: #d4af37;
}
    